.coffee{
    font-size: 25px;
}

.showimage{
    margin-left: 2%;
    margin-top: 2%;

}

.showlike{
    margin-left: 2%;
}

.showdetails{
    width: 50%;
    float: left;
    margin-left: 2%;
}

#map {
    height: 450px;
    width: 30%;
    float: right;
    margin-right: 15%;
}

.comment-wrapper{
}

.showcom{
    font-size: 20px;
}